<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {csrf_meta_tag()}
    <.live_title>
      {assigns[:page_title] || "Dev"}
    </.live_title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
    </script>
    <script type="module" crossorigin>
      import 'https://cdn.jsdelivr.net/gh/phoenixframework/phoenix_html@v4.3.0/priv/static/phoenix_html.js';
      import { Socket } from 'https://cdn.jsdelivr.net/gh/phoenixframework/phoenix@v1.8.3/priv/static/phoenix.mjs';
      import { LiveSocket } from 'https://cdn.jsdelivr.net/gh/phoenixframework/phoenix_live_view@1.1.19/priv/static/phoenix_live_view.esm.js';

      let csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content")
      let liveSocket = new LiveSocket("/live", Socket, { params: { _csrf_token: csrfToken } })
      liveSocket.connect()
      window.liveSocket = liveSocket
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
