<%= if live_flash(@flash, :info) do %>
  <p role="alert" phx-click="lv:clear-flash" phx-value-key="info">
    <%= live_flash(@flash, :info) %>
  </p>
<% end %>

<%= if live_flash(@flash, :error) do %>
  <p role="alert" phx-click="lv:clear-flash" phx-value-key="error">
    <%= live_flash(@flash, :error) %>
  </p>
<% end %>

<%= @inner_content %>
